Chapter6/AircraftMovementServices/AircraftMovementServiceSOAComposite/SOA/WSDLs/FinanceAircraftMovementReporterBean.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="FinanceAircraftMovementReporterBean"
     targetNamespace="http://finance.airport.saibot/"
     xmlns:tns="http://finance.airport.saibot/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:ns0="http://finance.airport.saibot/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://finance.airport.saibot/types">
            <xsd:complexType name="aircraftMovement">
                <xsd:sequence>
                    <xsd:element name="flightNumber" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://finance.airport.saibot/" xmlns:tns="http://finance.airport.saibot/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://finance.airport.saibot/types">
            <xsd:import namespace="http://finance.airport.saibot/types"/>
            <xsd:complexType name="reportAircraftMovemementReporter">
                <xsd:sequence>
                    <xsd:element name="arg0" type="ns1:aircraftMovement"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="reportAircraftMovemementReporter" type="tns:reportAircraftMovemementReporter"/>
            <xsd:complexType name="reportAircraftMovemementReporterResponse">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:element name="reportAircraftMovemementReporterResponse" type="tns:reportAircraftMovemementReporterResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="reportAircraftMovemementReporterInput">
        <wsdl:part name="parameters" element="tns:reportAircraftMovemementReporter"/>
    </wsdl:message>
    <wsdl:message name="reportAircraftMovemementReporterOutput">
        <wsdl:part name="parameters" element="tns:reportAircraftMovemementReporterResponse"/>
    </wsdl:message>
    <wsdl:portType name="FinanceAircraftMovementReporterBean">
        <wsdl:operation name="reportAircraftMovemementReporter">
            <wsdl:input message="tns:reportAircraftMovemementReporterInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:reportAircraftMovemementReporterOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
